# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*.pyo

# Virtual environment
myenv/
venv/
.env/
env/
venv310/



# Distribution / packaging
*.egg
*.egg-info/
dist/
build/

# Logs and temp files
*.log
*.tmp

# IDE settings
.idea/
.vscode/

pending.txt

.env
backend/serviceAccountKey.json
