/* Base Styles */
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }
  
  #app {
    position: relative;
    overflow: hidden;
  }
  
  /* Color Follower */
  .color-follower {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: screen;
    transition: transform 0.1s ease-out, background 0.1s ease-out;
  }
  
 